<ul class="List List--section">
        <li class="List-heading u-flex u-flexDirectionRow u-flexJustifySpaceBetween u-flexAlignCenter">
            <span class="u-textWeightBold" style="font-size: 22px;">{{ListTitle}}</span>
        </li>
        <li class="u-borderBottomGrayLight3"></li>
        {{#each ListItem}}
        <li class="u-paddingHxsm u-textNormal u-colorBase">
                <span></span><span class="u-textWeightBold">{{ListItem}}</span>
        </li>
        {{/each}}
</ul>
